<%- include('partials/header'); -%>


<table style="width:100%">
  <tr>
    <th><h3>Sender Email</h3></th>
    <th><h3>Reciver Email</h3></th>
    <th><h3>Amount </h3></th>
    <th><h3>Status</h3></th>
  </tr>
  <%  alltransaction.forEach(function(history){ %>
    <tr>
      <th><h5><%=history.SenderEmail%></h5></th>
      <th><h5><%=history.RecicerEmail%></h5></th>
      <th><h5><%=history.AmountSend%></h5></th>
      <th><h5><%=history.status%></h5></th>

    </tr>

    <% }) %>

</table>


<%- include('partials/footer'); -%>
